$h1-color: green;
$div-color: red;
$underline-color: blue;
$font-face: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

div {
    border: 1px solid $div-color;
    margin: 10px;
    font-family: $font-face;
    
    h1 {
        color: $h1-color;
        text-decoration: underline $underline-color;
        text-align: center;
        margin-bottom: 0;
        margin-top: 35px;
    }

    section {
        display: flex;
        padding: 15px;
        justify-content: center;
        text-align: center;
    }
    
    article:nth-child(odd) {
        color: $underline-color;
        border: 1px solid $h1-color;
        padding: 20px;
    }

    article:nth-child(even) {
        color: $div-color;
        border: 1px solid $h1-color;
        padding: 20px;
    }

}
